@import './anim.scss';
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500&display=swap');
*{
  font-family: 'Montserrat', sans-serif;

}
body{
  background-color: rgb(22, 22, 22);
  color: white;
  overflow: hidden;
  main{

    section.secao-principal{
      background-image: url('/src/img/fundo.jpg');
      background-position: center;
      background-size: cover;

      max-height: 37.5rem;

      color: white;
      // Clea
      .clea-div{
        .clea-img{
          width: 100%;
          height: 37.5rem;

          // max-width: 900px;
          min-width: 400px;
    
          opacity: 0.8;
          mix-blend-mode: hard-light;
        }
      }
      // Wanda
      .wanda-div{
        .wanda-img{
          width: 100%;
          min-width: 400px;
    
          opacity: 0.8;
          height: 47.5rem;
          mix-blend-mode: hard-light;
        }
      }

      // Div Meio
      .div-meio{
        height: 37.5rem;
        z-index: 1;

        // Circulo
        .circulo-div{

          .circulo-img{
            width: 100%;
            max-height: 37.5rem;
            mix-blend-mode: plus-lighter;
          }
        }
        
        // Dr Estranho
        .dr-img{
          width: 100%;
          max-width: 43.75rem;
        }
        // Título
        .titulo-img{
          width: 100%;
          max-width: 31.25rem;
          mix-blend-mode: screen;
          padding: 1.25rem;
        }
      }    
    }
  }

  footer{
    section.footer{
      div.ingresso-txt{
        div.inputs{
          width: 50%;
          margin: 0;
          padding: 0;

          input{
            padding: 0.8rem;
            border: none;
            outline: none;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            width: 65%;
          }
          button{
            padding: 0.8rem;
            border: none;
            font-weight: bolder;
            background-color: rgb(240, 152, 138);
            transition: background-color 0.3s;
            width: 20%;

            &:hover{
              background-color: rgb(214, 214, 214);
              transition: background-color 0.3s;
            }
          }
        }
      }
      div.ingresso-foto img{
        width: 50%;
      }
    }
  }
}

// Responsividade
@media (max-width:659px) {
  section.secao-principal{
    width: 100vh;
  }
  .circulo-div{
    width: 100%;
  }
  .dr-div{
    width: 100%;
  }
  .titulo-div{
    width: 100%;
    text-align: center;
  }
}